<button class="navbar-toggler r-toggle-btn-width" type="button" (click)="isMenuCollapsed = !isMenuCollapsed"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse r-sub-header-menu" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link r-color-lightgray active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle r-color-lightgray" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false" translate>
                sub-header.documents_label
            </a>
            <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/drafts" translate>sub-header.drafts_label</a></li>
                <li><a class="dropdown-item" routerLink="/articles" translate>sub-header.articles_label</a></li>
                <li><a class="dropdown-item" routerLink="/faq" translate>sub-header.faqs_label</a></li>
            </ul>
        </li>
        <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle r-color-lightgray" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false" translate>
                sub-header.activities_label
            </a>
            <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/elections" translate>sub-header.election_label</a></li>
                <li><a class="dropdown-item" routerLink="/meetings" translate>sub-header.meetings_label</a></li>
                <li><a class="dropdown-item" routerLink="/citizen-duty-day" translate>sub-header.citizensDutyDay_label</a></li>
            </ul>
        </li>
        <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle r-color-lightgray" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false" translate>
                sub-header.aboutus_label
            </a>
            <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/the-movement" translate>sub-header.theMovement_label</a></li>
                <li><a class="dropdown-item" routerLink="/the-party" translate>sub-header.theParty_label</a></li>
                <li><a class="dropdown-item" routerLink="/the-president" translate>sub-header.thePresident_label</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link r-color-lightgray" routerLink="/contact-us" translate>sub-header.contactus_label</a>
        </li>
    </ul>
    <span class="navbar-text r-color-lightgray" translate>
        sub-header.slogan_label
    </span>
</div>
