<button class="navbar-toggler r-toggle-btn-width" type="button" (click)="isMenuCollapsed = !isMenuCollapsed"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<!--Home button-->
<button class="navbar-toggler homebtn-r-aligment" type="button" routerLink="/" >
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
  </svg>
</button>

<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse r-sub-header-menu" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link r-color-lightgray active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle r-color-lightgray" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false" translate>
                sub-header.documents_label
            </a>
            <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/drafts" translate>sub-header.drafts_label</a></li>
                <li><a class="dropdown-item" routerLink="/articles" translate>sub-header.articles_label</a></li>
                <li><a class="dropdown-item" routerLink="/faq" translate>sub-header.faqs_label</a></li>
            </ul>
        </li>
        <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle r-color-lightgray" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false" translate>
                sub-header.activities_label
            </a>
            <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/elections" translate>sub-header.election_label</a></li>
                <li><a class="dropdown-item" routerLink="/meetings" translate>sub-header.meetings_label</a></li>
                <li><a class="dropdown-item" routerLink="/citizen-duty-day" translate>sub-header.citizensDutyDay_label</a></li>
            </ul>
        </li>
        <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle r-color-lightgray" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false" translate>
                sub-header.aboutus_label
            </a>
            <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/the-movement" translate>sub-header.theMovement_label</a></li>
                <li><a class="dropdown-item" routerLink="/the-party" translate>sub-header.theParty_label</a></li>
                <li><a class="dropdown-item" routerLink="/the-president" translate>sub-header.thePresident_label</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link r-color-lightgray" routerLink="/contact-us" translate>sub-header.contactus_label</a>
        </li>
    </ul>
    <span class="navbar-text r-color-lightgray" translate>
        sub-header.slogan_label
    </span>
</div>
